*,
*::before,
&::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: hsl(0, 0%, 15%);
  display: grid;
  place-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 3rem;
}

.tooltip-btn {
  padding: 1.5rem 4rem;
  background: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 95%);
  font-size: 1.6rem;
  letter-spacing: 2px;
  border: 2px solid hsl(192, 80%, 40%);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s all;
}

.tooltip-btn:hover {
  cursor: pointer;
  background: hsl(192, 80%, 40%);
}

.tooltip-btn::after {
  content: attr(data-content);
  position: absolute;
  font-size: 1.2rem;
  padding: 1.2rem 2.5rem;
  background: hsl(0, 0%, 5%);
  border-radius: 2rem;
  transition: 0.2s all;
  z-index: -1;
  text-transform: capitalize;
  transform: translate(0%, 0%);
}

.tooltip-btn[data-content="top"]::after {
  top: 0%;
  left: 0%;
}

.tooltip-btn[data-content="left"]::after {
  top: 0%;
  left: 0%;
}

.tooltip-btn[data-content="right"]::after {
  bottom: 0%;
  right: 0%;
}

.tooltip-btn[data-content="bottom"]::after {
  bottom: 0%;
  right: 0%;
}

.tooltip-btn[data-content="top"]:hover::after {
  transform: translateY(-100%);
}

.tooltip-btn[data-content="left"]:hover::after {
  transform: translateX(-100%);
}

.tooltip-btn[data-content="right"]:hover::after {
  transform: translateX(100%);
}

.tooltip-btn[data-content="bottom"]:hover::after {
  transform: translateY(100%);
}
